:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

img {
    max-width: 100%;
}

/* List style */
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Margin */
.mg-auto {
    margin: auto;
}

.mg-6{
    margin: 6px;
}
.mg-8 {
    margin: 8px;
}
.mg-10 {
    margin: 10px;
}
.mg-12 {
    margin: 12px;
}
.mg-14 {
    margin: 14px;
}
.mg-18 {
    margin: 18px;
}
.mg-20 {
    margin: 20px;
}
.mg-r6 {
    margin-right: 6px;
}
.mg-r8 {
    margin-right: 8px;
}
.mg-r10 {
    margin-right: 10px;
}
.mg-r12 {
    margin-right: 12px;
}
.mg-r14 {
    margin-right: 14px;
}
.mg-r18 {
    margin-right: 18px;
}
.mg-r20 {
    margin-right: 20px;
}
.mg-l6 {
    margin-left: 6px;
}
.mg-l8 {
    margin-left: 8px;
}
.mg-l10 {
    margin-left: 10px;
}
.mg-l12 {
    margin-left: 12px;
}
.mg-l14 {
    margin-left: 14px;
}
.mg-l18 {
    margin-left: 18px;
}
.mg-l20 {
    margin-left: 20px;
}
.mg-t6 {
    margin-top: 6px;
}
.mg-t8 {
    margin-top: 8px;
}
.mg-t10 {
    margin-top: 10px;
}
.mg-t12 {
    margin-top: 12px;
}
.mg-t14 {
    margin-top: 14px;
}
.mg-t18 {
    margin-top: 18px;
}
.mg-t20 {
    margin-top: 20px;
}
.mg-b6 {
    margin-bottom: 6px;
}
.mg-b8 {
    margin-bottom: 8px;
}
.mg-b10 {
    margin-bottom: 10px;
}
.mg-b12 {
    margin-bottom: 12px;
}
.mg-b14 {
    margin-bottom: 14px;
}
.mg-b18 {
    margin-bottom: 18px;
}
.mg-b20 {
    margin-bottom: 20px;
}

/* padding */
.pd-8 {
    padding: 8px;
}
.pd-10 {
    padding: 10px;
}
.pd-12 {
    padding: 12px;
}
.pd-14 {
    padding: 14px;
}
.pd-18 {
    padding: 18px;
}
.pd-20 {
    padding: 20px;
}

.pd-r8 {
    padding-right: 8px;
}
.pd-r10 {
    padding-right: 10px;
}
.pd-r12 {
    padding-right: 12px;
}
.pd-r14 {
    padding-right: 14px;
}
.pd-r18 {
    padding-right: 18px;
}
.pd-r20 {
    padding-right: 20px;
}

.pd-l8 {
    padding-left: 8px;
}
.pd-l10 {
    padding-left: 10px;
}
.pd-l12 {
    padding-left: 12px;
}
.pd-l14 {
    padding-left: 14px;
}
.pd-l18 {
    padding-left: 18px;
}
.pd-l20 {
    padding-left: 20px;
}

.pd-t8 {
    padding-top: 8px;
}
.pd-t10 {
    padding-top: 10px;
}
.pd-t12 {
    padding-top: 12px;
}
.pd-t14 {
    padding-top: 14px;
}
.pd-t18 {
    padding-top: 18px;
}
.pd-t20 {
    padding-top: 20px;
}

.pd-b8 {
    padding-bottom: 8px;
}
.pd-b10 {
    padding-bottom: 10px;
}
.pd-b12 {
    padding-bottom: 12px;
}
.pd-b14 {
    padding-bottom: 14px;
}
.pd-b18 {
    padding-bottom: 18px;
}
.pd-b20 {
    padding-bottom: 20px;
}
/* grid */
.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    margin-top: 40px;
}
@media (max-width: 600px) {
    .d-grid {
        grid-template-columns: repeat(auto-fill , minmax(260px , 1fr));
    }
}
@media (max-width: 400px) {
    .d-grid {
        grid-template-columns: repeat(auto-fill , minmax(180px , 1fr));
    }
}
/* flex */
.d-flex {
    display: flex;
}
.rev {
    flex-direction: row-reverse;
}
.col {
    flex-direction: column;
}
.align {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-space {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.d-flex-space {
    display: flex;
    justify-content: space-between;
}
.d-flex-center {
    display: flex;
    align-items: center;
}
.gap {
    gap: 40px;
}
.gap-20 {
    gap: 20px;
}
/* Background */
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-eee {
    background-color: #eee;
}
/* block */
.d-block {
    display: block;
}
/* position */
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
/* Border radius */

.br-6 {
    border-radius: 6px;
}
.br-8 {
    border-radius: 8px;
}
.circle {
    border-radius: 50%;
}
/* Text Color */
.c-grey {
    color: var(--grey-color);
}
.c-white {
    color: white;
}
.c-black {
    color: black;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
/* font */
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fw-b {
    font-weight: bold;
}
/* txt center */
.txt-center {
    text-align: center;
}
/* btn */
.btn-shape {
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
}
/* Set width */
.w-full {
    width: 100%;
}
.w-40 {
    width: 40px;
}
.w-100 {
    width: 100px;
}
.w-120 {
    width: 120;
}
.w-130 {
    width: 130px;
}
.w-160 {
    width: 160px;
}
/* Set height */
.h-40 {
    height: 40px;
}
.h-100 {
    height: 100px;
}
.h-120 {
    height: 120;
}
.h-130 {
    height: 130px;
}
.h-160 {
    height: 160px;
}
/* screen options */
@media(max-width: 768px) {
    .del-small {
        display: none;
    }
    .txt-small-center {
        text-align: center;
    }
    .respo {
        flex-direction: column;
        text-align: center;
    }
}