:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
input,textarea {
    outline: none;
}
.main {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* sidebar style */
.side-bar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    z-index: 1;
}
@media(max-width: 768px) {
    .side-bar {
        width: 85px;
    }
}
.side-bar > h3 {
    font-size: 20px;
    width: fit-content;
}
@media(max-width: 768px) {
    .side-bar > h3 {
        font-size: 16px;
    }
}
.side-bar > h3::before {
    content: '';
    position: absolute;
    width: calc(100% + 24px);
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
}
.side-bar > h3::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border: 4px solid white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;
}
@media(max-width: 768px) {
    .side-bar > h3::before,.side-bar > h3::after {
        display: none;
    }
}
.side-bar ul {
    margin-top: 38px;
}
@media(max-width: 768px) {
    .side-bar ul {
        margin-top: 18px;
    }
}
.side-bar li a {
    padding: 10px;
    display: block;
    transition: .3s;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 8px;
}
@media(max-width: 768px) {
    .side-bar li a span{
        display: none;
    }
}
.side-bar li i{
    margin-right: 8px;
}
.side-bar ul li a:hover, .side-bar ul li a.active {
    background-color: #f6f6f6;
}
/* END sidebar style */
.content {
    width: 100%;
}
/* Start header style */
header .options img {
    width: 32px;
    height: 32px;
    margin-left: 14px;
}
header .search-bar::after {
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    content: "\f002";
    font-weight: 900;
    color: var(--grey-color);
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
header .search-bar input {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 160px;
    transition: width 0.3s;
    padding-left: 26px;
}
header .search-bar input:focus {
    width: 200px;
}
header .search-bar input:focus::placeholder {
    opacity: 0;
}
header .options span::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--red-color);
}
header .options:hover {
    cursor: pointer;
}
/* END header style */
main > h1 {
    width: fit-content;
}
main > h1::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: -1px;
    width: 70%;
    height: 3px;
    background-color: white;
}
main > h1::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: -1px;
    width: 30%;
    height: 3px;
    background-color: black;
}
/* Start Dashboard main content style */
/* welcome card style */
.dashboard .welcome {
    overflow: hidden;
}
.dashboard .welcome .head img{
    width: 200px;
}
.dashboard .welcome .avatar {
    width: 62px;
    border: 4px solid white;
    margin-top: -34px;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .dashboard .welcome .avatar {
        margin-left: 0;
    }

}
.dashboard .welcome .body {
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
}
@media (max-width: 768px) {
    .dashboard .welcome .body {
        display: block;
    }
    .dashboard .welcome .body div{
        margin: 14px 0;
    }
}
.dashboard .btn {
    transition: .3s;
    display: block;
    width: fit-content !important;
    margin: 10px 10px 10px auto;
    cursor: pointer;
}
.dashboard .btn:hover {
    background-color: var(--blue-alt-color);
}
/* END welcome card style */
/* draft card style */
.dashboard .draft input,
.dashboard .draft textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
}
.dashboard .draft textarea {
    height: 200px;
    resize: none;
}
/* END draft card style */
/* stats style */

.dashboard .stats .icon i{
    width: 90px;
    margin-right: 16px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .stats .icon i.c-blue{
    background-color: rgb(0 117 255 / 20%);
}
.dashboard .stats .icon i.c-orange{
    background-color: rgb(245 158 11 / 20%);
}
.dashboard .stats .icon i.c-green{
    background-color: rgb(34 197 94 / 20%);
}
.dashboard .stats .bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
}
.dashboard .stats .bar .progress {
    width: 100%;
    height: 4px;
}
.dashboard .stats .bar .progress.blue {
    background-color: rgba(0,119,255,60%);
}
.dashboard .stats .bar .progress.orange {
    background-color: rgba(245 158 11 / 20%);
}
.dashboard .stats .bar .progress.green {
    background-color: rgba(34 197 94 / 20%);
}

.dashboard .stats .bar .money {
    width: 80%;
    height: 4px;
}
.dashboard .stats .bar .projects {
    width: 55%;
    height: 4px;
}
.dashboard .stats .bar .team {
    width: 75%;
    height: 4px;
}

.dashboard .stats .bar .box {
    padding: 3px 4px;
    font-size: 14px;
    border-radius: 4px;
}
.dashboard .stats .bar .box.bg-blue {
    left: calc(80% - 16px);
    top: -36px;
}
.dashboard .stats .bar .box.bg-orange {
    left: calc(55% - 16px);
    top: -36px;
}
.dashboard .stats .bar .box.bg-green {
    left: calc(75% - 16px);
    top: -36px;
}
.dashboard .stats .bar .box::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 22px;
    border: 8px solid;
}
.dashboard .stats .bar .bg-blue::after {
    border-color: var(--blue-color) transparent transparent transparent;
}
.dashboard .stats .bar .bg-orange::after {
    border-color: var(--orange-color) transparent transparent transparent;
}
.dashboard .stats .bar .bg-green::after {
    border-color: var(--green-color) transparent transparent transparent;
}
/* END stats style */
/* Tickets Stats */
.dashboard .tickets .boxes {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dashboard .tickets .boxes .box {
    width: calc(50% - 10px);
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 18px 0;
    justify-content: space-around;
    height: 142px;
}
@media(max-width: 768px) {
    .dashboard .tickets .boxes .box {
        width: 100%;
    }
}
/* END Tickets Stats */
/* Starts News box  style*/
.dashboard .news img{
    width: 100px;
    margin-right: 12px;
    border-radius: 8px;
}
.dashboard .news .row {
    padding: 20px 0;
}
@media (max-width: 768px) {
    .dashboard .news .row,
    .dashboard .news .content {
        text-align: center;
        flex-direction: column;
    }
    .dashboard .news .content span:first-child {
        margin: 8px 0;
    }
    .dashboard .news .content span:last-child {
        margin-bottom: 8px;
    }
}
.dashboard .news .row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/* END News box  style*/
/* Start tasks box style */
.dashboard .tasks .task {
    padding: 14px 0;
}
.dashboard .tasks .deleted div{
    text-decoration: line-through;
}
.dashboard .tasks .task.deleted{
    opacity: 0.6;
}
.dashboard .tasks .task:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.dashboard .tasks .task .trash {
    transition: .3s;
    cursor: pointer;
}
.dashboard .tasks .task .trash:hover {
    color: var(--red-color);
}
/* END tasks box style */
/* Starts Uploads box style */
.dashboard .uploads .row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/* END Uploads box style */
/* Starts projects progress style */
.dashboard .projects-progress ul::before {
    content: '';
    background-color: var(--blue-color);
    width: 2px;
    height: 100%;
    position: absolute;
    left: 9px;
    top: 0;
}
.dashboard .projects-progress ul li {
    padding-left: 38px;
}
.dashboard .projects-progress ul li::before,
.dashboard .projects-progress ul li::after {
    content: '';
    margin-right: 14px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.dashboard .projects-progress ul li::before {
    width: 20px;
    height: 20px;
    z-index: 2;
    left: 0;
}
.dashboard .projects-progress ul li.done::before {
    background-color: var(--blue-color);
}
.dashboard .projects-progress ul li.progress::before {
    background-color: var(--blue-color);
    animation: breath 1.4s infinite;
}
.projects-progress ul li::after {
    border: 2px solid var(--blue-color);
    background-color: white;
    width: 24px;
    height: 24px;
    z-index: 1;
    left: -4px;
}
.dashboard .projects-progress img {
    opacity: 0.3;
    width: 140px;
    right: 0;
    bottom: 0;
}
/* END projects progress style */
/* Start reminders box style */
.dashboard .reminders ul li {
    padding-left: 52px;
}
.dashboard .reminders ul li::after {
    content: '';
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 100%;
}
.dashboard .reminders ul li::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.dashboard .reminders ul li:first-child::before,
.dashboard .reminders ul li:first-child::after {
    background-color: var(--blue-color);
}
.dashboard .reminders ul li:nth-child(2):before,
.dashboard .reminders ul li:nth-child(2)::after {
    background-color: var(--green-color);
}
.dashboard .reminders ul li:nth-child(3):before,
.dashboard .reminders ul li:nth-child(3)::after {
    background-color: var(--orange-color);
}
.dashboard .reminders ul li:nth-child(4):before,
.dashboard .reminders ul li:nth-child(4)::after {
    background-color: var(--red-color);
}
/* END reminders box style */
/* Start last post box style */
.dashboard .l-post img {
    width: 50px;
}
.dashboard .l-post .info,
.dashboard .l-post .content {
    padding-bottom: 22px;
    border-bottom: 1px solid #eee;
}
/* END last post box style */
/* Start social box style */
.dashboard .social div {
    height: 50px;
}
.dashboard .social i {
    width: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .3s;
}
.dashboard .social i:hover {
    rotate: 5deg;
}
.dashboard .social .info {
    width: 100%;
    margin-left: 16px;
}
.dashboard .social .btn-shape {
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-right: 14px;
}
.dashboard .social .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
    margin-top: 14px;
}
.dashboard .social .twitter i,
.dashboard .social .twitter .btn-shape {
    background-color: #1da1f2;
}
.dashboard .social .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
    margin-top: 14px;
}
.dashboard .social .facebook i,
.dashboard .social .facebook .btn-shape {
    background-color: #1877f2;
}

.dashboard .social .youtube {
background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
    margin-top: 14px;
}
.dashboard .social .youtube i,
.dashboard .social .youtube .btn-shape {
    background-color: #ff0000;
}

.dashboard .social .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
    margin-top: 14px;
}
.dashboard .social .linkedin i,
.dashboard .social .linkedin .btn-shape {
    background-color: #0077b5;
}
/* END social box style */
/* Starts projects table style */
.dashboard .projects-table {
    width: calc(100vw - 265px);
}
@media (max-width: 1175px) {
    .dashboard .projects-table {
        width: 100%;
    }
}
.dashboard .projects-table .table {
    overflow-x: auto;
}
.dashboard .projects-table table {
    min-width: 1000px;
    width: 100%;
    border-spacing: 0;
}
.dashboard .projects-table table th,
.dashboard .projects-table table td {
    padding: 15px;
}
.dashboard .projects-table table th {
    text-align: left;
    background-color: #eee;
}
.dashboard .projects-table table td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: .3s;
}
.dashboard .projects-table table td:last-child {
    border-right: 1px solid #eee;
}
.dashboard .projects-table table td img {
    width: 38px;
    border-radius: 50%;
    margin-right: -22px;
    border: 2px solid white;
}
.dashboard .projects-table table tr:hover td {
    background-color: #faf7f7;
}

/* END projects table style */
/* END Dashboard main content style */






































/* Starts animation */
@keyframes breath {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
